@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}
.container {
    height: 75%;
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    border-radius: 12px;
    align-self: center;
    margin: auto 0;
}
.img-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50%;
    width: 85%;
}
.container > h3 {
    width: 85%;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: auto;
}
p {
    margin: 20px 0;
    width: 85%;
    color: hsl(220, 15%, 55%);
    text-align: center;
}
img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
footer > h3 {
    color: hsl(0, 0%, 100%);
}
footer {
    align-self: end;
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 80, 80);
    gap: 3px;
    width: 100vw;
    }
/* Desktop UI */

/* Desktop UI End */
/* Tablet UI */
@media screen and (max-width: 800px) {
    .container {
    width: 40%;
    }
}
/* Mobile UI */
@media screen and (max-width: 425px) {
    .container {
    height: 80%;
    width: 80%;
    }
    footer {
    height: 60px;
    }
}
/* Mobile UI End */
